<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h1>Interface du chat</h1>
    <!-- Contenu du chat et formulaire a faire-->
    <script src="/js/chat.js"></script>
</body>

</html>