<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
</head>

<body>
    <header>
        <img src="/logo.png" alt="Logo">
        <a href="/auth/login">Connexion/Inscription</a>
    </header>
</body>

</html>